/* Exercícios:
- Posicione o Mário acima do Goomba.
- Posicione a tag p para que fique dentro do balão de fala.
- Posicione o balão para que se torne uma fala de Bowser.
- Posicione os elementos para que tenham alguma distância entre si.
  */
  
  .super-mario {
     position: relative;
     width: 30%;
     z-index: 1;
  }
 
  .goomba{
    top: 500px;
    right: 302px;
    position: relative;
    width: 30%;
  }
  .baloon{
    position: relative;
    top: -548px;
    left: 450px;
    width: 20%;
    z-index: 1;
  }
  
  .bowser{
    left: 400px;
    position: relative;
  }
  
  p {
    position: relative;
    top: 245px;
    left: 488px;
    z-index: 2;
  }