.background,
.letter-color,
.fontsizer, 
.spaceliner, 
.font-typer {
  display: inline-block;
  border: 1px solid black
}

  /* .font-typer {
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  } */ 